<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout/layout}">

<th:block layout:fragment="script">
    <script th:inline="javascript">

        $(document).ready(function () {
            $("#searchBtn").on("click", function (e) {
                e.preventDefault();
                page(0);
            });
        });

        function page(page){
            var searchDateType = $("#searchDateType").val();
            var searchSellStatus = $("#searchSellStatus").val();
            var searchBy = $("#searchBy").val();
            var searchQuery = $("#searchQuery").val();

            location.href="/item/list?page=" + page +
                "&searchDateType=" + searchDateType +
                "&searchSellStatus=" + searchSellStatus +
                "&searchBy=" + searchBy +
                "&searchQuery=" + searchQuery;
        }

    </script>

</th:block>

<form th:action="@{'/admin/items/' + ${items.number}}" role="form" method="get" th:object="${items}">
    <table class="table">
        <thead>
        <tr>
            <td>상품아이디</td>
            <td>상품명</td>
            <td>상태</td>
            <td>등록자</td>
            <td>등록일</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item, status: ${items.getContent()}">
            <td th:text="${item.id}"></td>
            <td>
                <a th:href="'/admin/item/'+${item.id}" th:text="${item.itemNm}"></a>
            </td>
            <td th:text="${item.itemSellStatus == T(com.flower.constant.ItemSellStatus).SELL} ? '판매중' : '품절'"></td>
            <td th:text="${item.createdBy}"></td>
            <td th:text="${item.regTime}"></td>
        </tr>
        </tbody>
    </table>

    <div th:with="start=${(items.number/maxPage)*maxPage + 1}, end=(${(items.totalPages == 0) ? 1 : (start + (maxPage - 1) < items.totalPages ? start + (maxPage - 1) : items.totalPages)})" >
        <ul class="pagination justify-content-center">

            <li class="page-item" th:classappend="${items.first}?'disabled'">
                <a th:onclick="'javascript:page(' + ${items.number - 1} + ')'" aria-label='Previous' class="page-link">
                    <span aria-hidden='true'>Previous</span>
                </a>
            </li>

            <li class="page-item" th:each="page: ${#numbers.sequence(start, end)}" th:classappend="${items.number eq page-1}?'active':''">
                <a th:onclick="'javascript:page(' + ${page - 1} + ')'" th:inline="text" class="page-link">[[${page}]]</a>
            </li>

            <li class="page-item" th:classappend="${items.last}?'disabled'">
                <a th:onclick="'javascript:page(' + ${items.number + 1} + ')'" aria-label='Next' class="page-link">
                    <span aria-hidden='true'>Next</span>
                </a>
            </li>

        </ul>
    </div>

    <div class="form-inline justify-content-center" th:object="${itemSearchDto}">
        <select th:field="*{searchDateType}" class="form-control" style="width:auto;">
            <option value="all">전체기간</option>
            <option value="1d">1일</option>
            <option value="1w">1주</option>
            <option value="1m">1개월</option>
            <option value="6m">6개월</option>
        </select>
        <select th:field="*{searchSellStatus}" class="form-control" style="width:auto;">
            <option value="">판매상태(전체)</option>
            <option value="SELL">판매</option>
            <option value="SOLD_OUT">품절</option>
        </select>
        <select th:field="*{searchBy}" class="form-control" style="width:auto;">
            <option value="itemNm">상품명</option>
            <option value="createdBy">등록자</option>
        </select>
        <input th:field="*{searchQuery}" type="text" class="form-control" placeholder="검색어를 입력해주세요">
        <button id="searchBtn" type="submit" class="btn btn-primary">검색</button>
    </div>
</form>


<div layout:fragment="content" id='wrapper'>

    <style>
        .footer .footer {
            top: 2500px;
        }
    </style>

    <div class="product">
        <div class="shop">
            <div class="heading-shop">제품</div>
            <div class="link-home">홈</div>
            <div class="symbol"> ></div>
            <div class="text-wrapper-3">제품</div>
        </div>
        <!--검색기능-->
        <form action="/item/list" method="get">
            <div class="section-form-input">
                <div class="div-placeholder">
                    <input type="text" id="itemNmInput" name="itemNm" placeholder="Search...">
                    <button type="submit" class="section-form-button">검색</button>
                </div>
            </div>
        </form>

        <script>
            document.addEventListener('DOMContentLoaded', function () {
                var form = document.querySelector('form[action="/item/list"]');
                if (form) {
                    // 이전에 검색한 내용이 URL에 있다면 검색창에 설정
                    var url = new URL(window.location.href);
                    var itemNm = url.searchParams.get('itemNm');
                    var itemNmInput = form.querySelector('#itemNmInput');
                    if (itemNm && itemNmInput) {
                        itemNmInput.value = itemNm;
                    }

                    form.addEventListener('submit', function (event) {
                        event.preventDefault(); // 기본 제출 동작 방지

                        var itemNmInput = form.querySelector('#itemNmInput');
                        if (itemNmInput) {
                            var itemNmValue = itemNmInput.value;
                            var url = new URL('/item/list', window.location.href);

                            // pname 파라미터 값 설정
                            url.searchParams.set('itemNm', itemNmValue);

                            // 새 URL을 사용하여 페이지 이동 (또는 필요한 작업 수행)
                            window.location.href = url.toString();
                        }
                    });
                } else {
                    console.error("Form not found");
                }
            });

        </script>

        <!--카테고리-->
        <div class="view">
            <div class="overlap-group">
                <div class="link" onclick="toggleList()">
                    <div class="categories">CATEGORIES</div>
                </div>
                <div class="pseudo-1" onclick="toggleList()"></div>
            </div>
            <div class="div-card-body" id="listContainer" style="display: none;">
                <div class="list">
                    <div class="item-link-men" onclick="searchByCategory('Refrigerator')">Refrigerator</div>
                    <div class="item-link-women" onclick="searchByCategory('TV')">TV</div>
                    <div class="item-link-bags" onclick="searchByCategory('Laptop')">Laptop</div>
                    <div class="item-link-clothing" onclick="searchByCategory('Washing Machine')">Washing Machine</div>
                    <div class="item-link-shoes" onclick="searchByCategory('Air Purifie')">Air Purifier</div>
                    <div class="item-link" onclick="searchByCategory('Air Conditioner')">Air Conditioner</div>
                    <div class="frame">
                        <div class="item-link-kids">Cleaner</div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            function toggleList() {
                var listContainer = document.getElementById("listContainer");
                if (listContainer.style.display === "none") {
                    listContainer.style.display = "block";
                } else {
                    listContainer.style.display = "none";
                }
            }

            function searchByCategory(itemDetail) {
                var form = document.querySelector('form[action="/item/list"]');
                if (form) {
                    var itemNmInput = form.querySelector('#itemNmInput');
                    if (itemNmInput) {
                        var itemNmValue = itemNmInput.value;
                        var url = new URL('/item/list', window.location.href);

                        // pname 파라미터 값 설정
                        var searchParams = new URLSearchParams(url.search);
                        if (searchParams.has('itemNm')) {
                            pnameValue = searchParams.get('itemNm');
                        }
                        url.searchParams.set('itemNm', itemNmValue);

                        // pcate 파라미터 값 설정
                        url.searchParams.set('itemDetail', itemDetail);

                        window.location.href = url.toString();
                    }
                } else {
                    console.error("Form not found");
                }
            }


        </script>

        <!--오름차순 정렬-->
        <div class="view-2">
            <div class="text-wrapper-5">Sort by Price:</div>
            <div class="div-nice-select">
                <div class="text-wrapper-6">Low To High</div>
                <div class="pseudo"></div>
            </div>

            <!-- register 버튼 -->
            <li sec:authorize="isAuthenticated() and !hasAuthority('ADMIN')">
            <button onclick="location.href='/item/register'" class="register-button" style="font-size: 16px; padding: 12px 20px; margin-left: 10px;">상품등록</button>
            </li>
        </div>
        <script>
            // register 페이지로 이동하는 함수
            function goToRegisterPage() {
                window.location.href = '/item/registers';
            }
        </script>


        <script>
            document.addEventListener('DOMContentLoaded', function () {
                var form = document.querySelector('form[action="/item/list"]');
                if (form) {
                    // 이전에 검색한 내용이 URL에 있다면 검색창에 설정
                    var url = new URL(window.location.href);
                    var itemNm = url.searchParams.get('itemNm');
                    var itemNmInput = form.querySelector('#itemNmInput');
                    if (itemNm && itemNmInput) {
                        itemNmInput.value = itemNm;
                    }

                    form.addEventListener('submit', function (event) {
                        event.preventDefault(); // 기본 제출 동작 방지

                        var itemNmInput = form.querySelector('#itemNmInput');
                        if (itemNmInput) {
                            var itemNmValue = itemNmInput.value;
                            var url = new URL('/item/list', window.location.href);

                            // pname 파라미터 값 설정
                            url.searchParams.set('itemNm', itemNmValue);

                            // 새 URL을 사용하여 페이지 이동 (또는 필요한 작업 수행)
                            window.location.href = url.toString();
                        }
                    });
                } else {
                    console.error("Form not found");
                }
            });

            // URL 업데이트 함수 정의
            function updateURL(sortOrder) {
                urlParams.set('sort', sortOrder); // 'sort' 파라미터에 정렬 값을 설정
                const currentUrl = window.location.pathname + '?' + urlParams.toString();
                window.location.href = currentUrl; // 새로운 URL로 이동
            };


        </script>

        <th:block th:each="item, status: ${items.getContent()}">
            <!--<th:block th:each="item, status: ${items.getContent()}">-->
            <div class="div-product-item">

                <a th:href="@{|/item/${item.id}|}">
                    <img th:src="${item.imgUrl}" class="div-product-item-pic" th:alt="${item.itemNm}">
                    <div class="heading-piqu-biker" th:text="${item.itemNm}"></div>
                    <div class="heading" th:text="${#numbers.formatInteger(item.price, 3, 'COMMA')} + ' 원'"></div>
                </a>
            </div>
        </th:block>











        <div class="div-wrapper">
            <div th:with="start=${(items.number/maxPage)*maxPage +1},
                        end=(${(items.totalPages == 0) ? 1 : (start + (maxPage - 1) < items.totalPages ? start + (maxPage - 1) : items.totalPages)})">
                <ul class="pagination">

                    <li class="page-item" th:classappend="${items.first}?'disabled'">
                        <a th:onclick="'javascript:page(' + ${items.number - 1} + ')'" aria-label='Previous' class="page-link" style ="font-size:20px;">
                            <span aria-hidden='true'><</span>
                        </a>
                    </li>

                    <li class="page-item" th:each="page: ${#numbers.sequence(start, end)}"
                        th:classappend="${items.number eq page - 1}?'active':''">
                        <a th:onclick="'javascript:page(' + ${page - 1} + ')'" th:inline="text" class="page-link"
                           style ="font-size:20px;">[[${page}]]</a>
                    </li>

                    <li class="page-item" th:classappend="${items.last}?'disabled'">
                        <a th:onclick="'javascpript:page(' + ${items.number + 1 } + ')'" aria-label='Next'
                           class="page-link"style ="font-size:20px;">
                            <span aria-hidden='true'>></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <!--<div class="div-wrapper">
            <div class="text-wrapper-7">1</div>
        </div>
        <div class="link-2">2</div>
        <div class="link-3">3</div>
        <div class="text-wrapper-8">...</div>
        <div class="link-4">21</div>-->

    </div>
</div>
</div>
</html>